@import url('https://fonts.googleapis.com/css2?family=Besley:wght@900&display=swap');
#body
{
    font-family: 'Besley', serif;
    font-weight: 1000;
    background-color: #48dbfb;
}
h1
{
    color: red;
}
