{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Mail Sender</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body id="body">
    <h1 align="center" class="mt-4">Bulk Mail Sender</h1>
    <div class="container mt-5" style="background-color: white;border-radius: 50px;">
      <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>
      <div class="d-flex p-3 justify-content-center">
          <!-- You can toggle select (disabled) -->
          <label class="option">
              <input type="radio" name="option">
              <span class="title animated fadeIn"><i class="icon icon-speedometer"></i>Speedometer</span>
          </label>
          <label class="option ml-4" id="radiodiv">
              <input type="radio" name="option">
              <span class="title animated fadeIn"><i class="icon icon-handbag"></i>Handbag</span>
          </label>
      </div>
    </div>
</body>
</html>