{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Mail Sender</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/ChangeDiv.js' %}" type="text/javascript"></script>
</head>
<body id="body">
    <h1 align="center" class="mt-4">Bulk Mail Sender</h1>
    <div class="container mt-5" style="background-color: white;border-radius: 50px;">
      <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>
      <div class="d-flex p-3 justify-content-center">
          <!-- You can toggle select (disabled) -->
          <label class="option">
              <input type="radio" name="option" value="manually" id="radioval" onclick="GetRadiovalue()">
              <span class="title animated fadeIn"><i class="icon icon-speedometer"></i>Manually</span>
          </label>
          <label class="option ml-4" id="radiodiv">
              <input type="radio" name="option" value="xls" id="radioval" onclick="GetRadiovalue()">
              <span class="title animated fadeIn"><i class="icon icon-handbag"></i>Upload Xls</span>
          </label>
      </div>
    </div>
    <div class="container mt-5" id="div-manually" style="border-radius: 50px;">
        <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>
        <div class="d-flex p-3 justify-content-center">
            <!-- <div class="form-body"> -->
                <!-- <div class="row"> -->
                    <!-- <div class="form-holder" style="padding:0px;margin: 0px;"> -->
                        <div class="form-content" style="padding:0px;margin: 0px;">
                            <div class="form-items">
                                <h3 style="text-align: center;">Manual Email Sender</h3>
                                <form class="requires-validation" novalidate>
        
                                    <div class="col-md-12">
                                       <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                       <div class="valid-feedback">Username field is valid!</div>
                                       <div class="invalid-feedback">Username field cannot be blank!</div>
                                    </div>
        
                                    <div class="col-md-12">
                                        <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                                         <div class="valid-feedback">Email field is valid!</div>
                                         <div class="invalid-feedback">Email field cannot be blank!</div>
                                    </div>
        
                                   <div class="col-md-12">
                                        <select class="form-select mt-3" required>
                                              <option selected disabled value="">Position</option>
                                              <option value="jweb">Junior Web Developer</option>
                                              <option value="sweb">Senior Web Developer</option>
                                              <option value="pmanager">Project Manager</option>
                                       </select>
                                        <div class="valid-feedback">You selected a position!</div>
                                        <div class="invalid-feedback">Please select a position!</div>
                                   </div>
        
        
                                   <div class="col-md-12">
                                      <input class="form-control" type="password" name="password" placeholder="Password" required>
                                       <div class="valid-feedback">Password field is valid!</div>
                                       <div class="invalid-feedback">Password field cannot be blank!</div>
                                   </div>
        
        
                                   <div class="col-md-12 mt-3">
                                    <label class="mb-3 mr-1" for="gender">Gender: </label>
        
                                    <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                                    <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>
        
                                    <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                                    <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
        
                                    <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                                    <label class="btn btn-sm btn-outline-secondary" for="secret">Secret</label>
                                       <div class="valid-feedback mv-up">You selected a gender!</div>
                                        <div class="invalid-feedback mv-up">Please select a gender!</div>
                                    </div>
        
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                  <label class="form-check-label">I confirm that all data are correct</label>
                                 <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                                </div>
                          
        
                                    <div class="form-button mt-3">
                                        <button id="submit" type="submit" class="btn btn-primary">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        
        </div>
    </div>
    <div class="container mt-5" id="div-xls">
        <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>
        <div class="d-flex p-3 justify-content-center">
            <h2>Upload Xls</h2>
        </div>
    </div>
</body>
<script>
    (function () {
'use strict'
const forms = document.querySelectorAll('.requires-validation')
Array.from(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

</script>
</html>